body {
    font-family: 'Barlow Semi Condensed', sans-serif;

}

.name {
    color: var(--white);

    font-size: 0.8125rem;
}

.status {
    color: var(--white);
    opacity: .5;

    font-size: 0.8125rem;

}

.highlight {
    color: var(--white);

    font-size: 1.125rem;
}

.quote {
    color: var(--white);
    opacity: 0.7;

    font-size: 0.8125rem;
    line-height: 1.384em;
}

.one {

    .highlight {
        margin-bottom: 1rem;
    }
}

.three,
.five {

    .name,
    .status,
    .highlight,
    .quote {
        color: var(--darkGreyishBlue);

    }
}

.five {
    .highlight {
        margin-bottom: 1.5rem;
    }
}