// Card Specific Styles
.card {
    border-radius: .5rem;
    padding: 1.625rem 2rem;

    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.2474);

}

.highlight {
    margin-bottom: 1rem;
}

/* Card Layout -- START */
.one {
    position: relative;
    background: var(--mediumViolet);

    background-image: url(../images/bg-pattern-quotation.svg);
    background-position: right 1.5rem top; // Learned that I can add numbers too to finely tune position
    background-repeat: no-repeat;

    @media (min-width: 40em) {
        .highlight {
            margin-bottom: 1rem;
        }

        background-position: right 5rem top;
    }
}



.two {
    background: var(--darkGreyishBlue);
}

.three {
    background: var(--white);
}

.four {
    background: var(--darkBlackishBlue);
}

.five {
    background: var(--white);
}

// HEADER
.header {
    display: flex;
    align-items: center;

    margin-bottom: 1.125rem;
}

.photo {
    width: 1.75rem;

    margin-right: 1rem;

    border-radius: 50%;
}

.highlight {
    margin-bottom: 1rem;
}